html
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="apple-mobile-web-app-orientations", content="portrait")
  meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")

  head
    link(rel="stylesheet", type="text/css", href="/all-styles.css")

    link(rel="apple-touch-icon-precomposed",
         href="/img/icon-120x120.png",
         sizes="120x120")

    link(rel="apple-touch-startup-image",
         href="/img/startup-640x1096.png",
         media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)")

    title Spirit Guide

  body
    div(id="iphone-status-bar-spacer")
    div(id="app-root")
    div(id="pushover-root")
    div(id="modal-root")
    div(id="flyup-root")
    div(id="web-clip-notification" class="hidden")
    div(id="main-loading-overlay")
    //- Note that this has to come last, so all the necessary containers exist.
    script(type="text/javascript", src="all-scripts.js")
